.label{display:none;}
.cartIcon{color:#d6d3d3;}
/*
.container{
    background:url(https://brasiltatica.vteximg.com.br/assets/vtex.file-manager-graphql/images/shoppingCart-icon___1341df25d75b8b6de682920edc4aad93.png) no-repeat center scroll transparent;
}

.badge{
    top: -1.5rem;
    right: -2rem;    
}
*/