.nameContainer{padding:.5em 0;justify-content: left;}
.productNameContainer{text-align: left;}
.brandName{font-size: .9em;text-transform: lowercase;text-align: left;}
.imageNormal{max-height: 100%;}
.priceContainer{padding:0;align-items: normal;}

.SKUSelectorContainer--summarySku{margin: -4.3em .3em 1.3em -.5em;height:50px;}
.element .SKUSelectorContainer--summarySku{transition: .2s pulse; opacity: 0;}
.element:hover .SKUSelectorContainer--summarySku{opacity: 1;z-index:5;}
.element:hover .imageContainer{position:relative;}
.element .imageContainer::before{
    content:"";
    transition: .1s linear;
    left:0;
    top:0;
    width:100%;
    height: 100%;    
    background: transparent;
}
.element:hover .imageContainer::before{
    content:"";
    position: absolute;
    z-index:2;
    background: rgb(15,28,49);
    background: linear-gradient(0deg, rgb(106, 117, 136) 0%, rgba(113, 124, 142, 0.3) 40%, rgba(255, 255, 255, 0) 100%);    
}
.containerNormal{
    max-width:300px;
}
.productBrand{text-transform: lowercase;}
.buyButtonContainer{display:none;}