.totalProducts--layout{
    display: none;  
}

.gallery{
    padding-left:2em;
}

.galleryTitle--layout{
    text-align: left;
    font-size: 2em;
    text-transform: uppercase;
    margin-left: 1.3em;
    margin-top: .5em;
    font-family: 'Raleway';
}

.filters--layout{
    width: 200px    
}

.buttonShowMore{
    margin: 1em 0 0;
}

.filterMessage{
    font-family: 'Raleway';
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: .5em;    
}

.filter__container--title{border-color:#eee;}

.filter__container--title .t-heading{text-align:center;margin:0;}
.categoryItemChildren{color:#999;}

@media only screen and (min-width: 40em){
    .orderByButton{
        padding: .3em;
        width: auto;
        justify-content: right;
        text-align: right;
        float: right;
        border: 1px solid #ecebeb;        
    }
    .filterPopupArrowIcon{
        padding-right: .5rem;
    }
    .filterTitle{
        font-size: .9rem;
        color: #424242;
        text-align: center;
        text-transform: uppercase;    
    }
    .filter__container--selectedFilters{display:none;}
    .categoryItemName{
        color: #afafaf;
    }
    .filter__container--c{
        display:none;
    }
    
    .filterItem{
        padding-left:1em;
    }
    
}