.footerLayout{
  background: #0F1C31;
  margin-top: 4em;
}

.acceptedPaymentMethodContainer{
  justify-content: center;
}

@media only screen and (min-width: 40em){
  .acceptedPaymentMethodContainer{
    justify-content: left !important;
  }
}